*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(101, 94, 94);

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,200px);
    gap: 0.4rem;
    padding: 4rem;

    border: 2px solid white;
}

.item{
    /* height: 100px;
    width: 100px; */
    background-color: rgb(32,109,109);
    border: 5px solid rgb(217,202,202);

    /* This will keep at the center of the cell horizontally */
    /* justify-self: center; */
    /* This will keep at the center of the cell vertically */
    /* align-self: center; */

    /* This will keep item both horizontally and vertically at the center of the cell. */
    /* place-self: center; */

    /* This will stretch the item if height and width is not marked */
    place-self:stretch;
}